@if(showmenu){
    <div>
        <mat-toolbar color="primary" class="mat-elevation-z8">
            <button mat-icon-button (click)="drawer.toggle()" (click)="closeAllPanels()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Store Management System</span>
            <span class="example-spacer"></span>
            <span>{{LoginUser}}</span>
            <button mat-button [matMenuTriggerFor]="profile">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #profile>
                <button mat-menu-item>Userprofile
                    <mat-icon>account_circle</mat-icon>
                </button>
                <button mat-menu-item routerLink="/reset_password">Resetpassword
                    <mat-icon>key</mat-icon>
                </button>
                <button mat-menu-item routerLink="/login">
                    <mat-icon>logout</mat-icon>Logout
                </button>
            </mat-menu>
        </mat-toolbar>

        <mat-drawer-container autosize>
            <mat-drawer #drawer opened="true" mode="side" position="start">
                <mat-nav-list>
                    <mat-list-item>
                        <button mat-button routerLink="Product" (click)="closeAllPanels()">
                            <mat-icon>home</mat-icon>Home
                        </button>
                    </mat-list-item>

                    <mat-accordion [multi]="false">
                        <ng-container *ngFor="let group of groupedMenuList">
                            <mat-expansion-panel *ngIf="group.menus && group.menus.length > 0" #panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon>{{ getIconForGroup(group.name) }}</mat-icon>{{ group.name }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <ng-container *ngFor="let item of group.menus">
                                    <button mat-button [routerLink]="item.menuCode" (click)="closeAllPanels()">
                                        <mat-icon>{{ getIconForItem(item.menuCode) }}</mat-icon>
                                        {{ item.name }}
                                    </button>
                                    <div *ngIf="!item.menuCode" class="menu-item-no-link">
                                        <mat-icon>{{ getIconForItem(item.menuCode) }}</mat-icon>
                                        {{ item.name }}
                                    </div>
                                    <br>
                                </ng-container>
                            </mat-expansion-panel>
                        </ng-container>
                    </mat-accordion>
                </mat-nav-list>
            </mat-drawer>

            <mat-drawer-content>
                <div style="text-align: center; min-height: 600px;">
                    <router-outlet></router-outlet>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
} @else {
    <div style="text-align: center; min-height: 600px;">
        <router-outlet></router-outlet>
    </div>
}
