<mat-card>
    <mat-card-header>
        <h1>Branch List</h1>
        @if(_permission.haveAdd===true){
            <button style="margin-left: 70%;" mat-raised-button color="primary" routerLink="/Branch/add">
                <fa-icon [icon]="plus"></fa-icon>  Add Branch
            </button>
        }
        
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="datasource"matSort
        (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="BranchName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{element.branchName}}</td>
            </ng-container>   
            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                <td mat-cell *matCellDef="let element">{{element.address}}</td>
            </ng-container>    
            <ng-container matColumnDef="Note">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Note</th>
                <td mat-cell *matCellDef="let element">{{element.note}}</td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="EditBranch(element.id)" mat-raised-button color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="DeleteBranch(element.id)" mat-raised-button color="accent">
                        <!-- <mat-icon>delete</mat-icon> -->
                        <fa-icon [icon]="faTrash"></fa-icon>
                        
                    </button>
                </td>
            </ng-container>
            <tr class="table-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </mat-card-content>
    <br>
    <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>